<!DOCTYPE html>
<html>
  <head>
    <title>Flixter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">
  </head>

  <body>
    <div id = "flex-content-container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to 'Flixter', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to 'Courses', courses_path, class: 'nav-link' %>
            </li>
          </ul>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'My Dashboard', dashboard_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link'%>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Register', new_user_registration_path, class: 'nav-link'%>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link'%>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <% if notice.present? %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
         <p class="alert alert-warning"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-3">
            <b>Teachers</b>
            <br />
            <%= link_to 'Teach a Course', new_instructor_course_path %>
            <br />
            <%= link_to 'My Dashboard', dashboard_path %>
          </div>
          <div class="col-12 col-sm-3">
            <b>About</b>
            <br />
            <%= link_to 'Team', team_path %>
            <br />
            <%= link_to 'Careers', careers_path %>
            <br />
            <%= link_to 'Privacy Policy', privacy_path %>
          </div>
          <div class="col-12 col-sm-3">
            <b>Contact</b>
            <br />
            <%= link_to 'carrie.g.crow@gmail.com', 'mailto:carrie.g.crow@gmail.com' %>
            <br />
            Madison, WI 53703
          </div>
          <div class="col-12 col-sm-3 social">
            <b>Social</b>
            <br />
            <br />
            <%= link_to 'https://github.com/CCrowRun' do %>
              <span class="fa fa-github-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://www.linkedin.com/in/cgcrow/' do %>
              <span class="fa fa-linkedin-square fa-2x social-button"></span>
            <% end %>
            <%= link_to 'https://ccrow-portfolio.netlify.com' do %>
              <span class="fa fa-info-circle fa-2x social-button"></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <script src="http://vjs.zencdn.net/5.12.6/video.js"></script>
    <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  </body>
</html>
